* {
	cursor: default;
}
  	
#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	}

	
/*TYPOGRAPHIE*/

.text-white {
	color: #f5f5f5;
}

.textshadow {
	text-shadow: 0px 0px 5px black;
}

.text-medium {
	font-size: 14px;
}

.text-small {
	font-size: 12px;
}

/*ERRORS*/

.errorlist ul li {
	list-style: none;
	list-style-type: none;
}

/*LOGIN*/

body.body_login{
  	padding-top: 60px;
  	padding-bottom: 40px;
  	}

body.body_login{
	background: url(../img/bg-hockey.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.body_login .panel-title {
	height: 80px;
}

.logo-poole {
	background: url(../img/logo-poole-full.png) no-repeat center center;
	width: 100%;
	height: 70px;
	background-size: 150px;
	text-align: center;	
}

.logo-poole.white {
	background: url(../img/logo-poole-full-inline-white.png) no-repeat center center;
	background-size: 220px;
}

/*MENU*/

.container-fluid {
	padding: 0px;
}

.navbar, .nav, .navbar-nav, .navbar-right {
	border-radius: 0px;
	margin-bottom: 0px;
	height: 40px;
}

.navbar-default .navbar-nav>.open>a, {
	height: 50px;
}

.navbar-right {
	padding-right: 10px;
}

.logo-navbar {
	margin-top: -15px;
	margin-left: -10px;
}

/*DASHBOARD*/

.body_dashboard {
	padding-top: 50px;
	background: url(../img/bg-rugby.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

/*GUIDE.JS*/

.introjs-helperNumberLayer {
	display: none;
}

.introjs-helperLayer {
	background-color: rgba(255,255,255,.3); 
}

.step {
	display: none;
}

/*TOOLBAR POOL*/

#toolbar-pool {
	background: rgba(50,50,50,0.82);
	width:100%;
	position: fixed;
	z-index: 1;
	top: 50px;
	left:244px;
}

#toolbar-pool ul li {
	padding: 10px;
}

#toolbar-pool .label-primary::before {
	font-family: 'Glyphicons Halflings';
	content:"\e013"; 
	padding-right: 5px;
}

/*DROPDOWN*/

.dropdown-menu {
	min-width: 120px;
}

.navbar-default .navbar-nav>.open>a {
	height: 50px;
}

/*EGGCOIN*/

.price {
	font-size: 14px;
}

.eggcoin.black{
	background: url(../img/eggcoin-small-black.png) no-repeat 0 0;
	background-size: 11px;
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin-top: 1px;
}
.eggcoin.white{
	background: url(../img/eggcoin-small-white.png) no-repeat 0 0;
	background-size: 11px;
	width: 16px;
	height: 16px;
	display: inline-block;
	float: right;
	margin-top: 1px;
}

.eggcoin {
	display:inline-block;
	margin-left: 5px;
	background-position-y: 2px;
}

.eggcoin.menu {
	float: right;
}

.eggcoin.profile {
	float: left;
}

.eggcoin.inline {
	float: none;
}

/*BLOCK POOLS*/

.page-content .row {
	margin-top: 40px;
}

.panel, .panel-default>.panel-heading, .panel-heading, .panel-footer {
	background: rgba(0,0,0,0.72);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.47);
	color: #F5F5F5;
	border: #000;
	border-radius: 0px;
}

#boxpool .panel-heading {
	background: rgba(15,15,15,1);
background: -moz-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(31,31,31,0.94) 12%, rgba(31,31,31,0.87) 25%, rgba(21,20,21,0.8) 39%, rgba(28,28,28,0.75) 50%, rgba(0,0,0,0.74) 51%, rgba(10,10,10,0.69) 60%, rgba(28,28,28,0.61) 76%, rgba(18,18,18,0.54) 91%, rgba(10,10,10,0.49) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(15,15,15,1)), color-stop(12%, rgba(31,31,31,0.94)), color-stop(25%, rgba(31,31,31,0.87)), color-stop(39%, rgba(21,20,21,0.8)), color-stop(50%, rgba(28,28,28,0.75)), color-stop(51%, rgba(0,0,0,0.74)), color-stop(60%, rgba(10,10,10,0.69)), color-stop(76%, rgba(28,28,28,0.61)), color-stop(91%, rgba(18,18,18,0.54)), color-stop(100%, rgba(10,10,10,0.49)));
background: -webkit-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(31,31,31,0.94) 12%, rgba(31,31,31,0.87) 25%, rgba(21,20,21,0.8) 39%, rgba(28,28,28,0.75) 50%, rgba(0,0,0,0.74) 51%, rgba(10,10,10,0.69) 60%, rgba(28,28,28,0.61) 76%, rgba(18,18,18,0.54) 91%, rgba(10,10,10,0.49) 100%);
background: -o-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(31,31,31,0.94) 12%, rgba(31,31,31,0.87) 25%, rgba(21,20,21,0.8) 39%, rgba(28,28,28,0.75) 50%, rgba(0,0,0,0.74) 51%, rgba(10,10,10,0.69) 60%, rgba(28,28,28,0.61) 76%, rgba(18,18,18,0.54) 91%, rgba(10,10,10,0.49) 100%);
background: -ms-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(31,31,31,0.94) 12%, rgba(31,31,31,0.87) 25%, rgba(21,20,21,0.8) 39%, rgba(28,28,28,0.75) 50%, rgba(0,0,0,0.74) 51%, rgba(10,10,10,0.69) 60%, rgba(28,28,28,0.61) 76%, rgba(18,18,18,0.54) 91%, rgba(10,10,10,0.49) 100%);
background: linear-gradient(135deg, rgba(15,15,15,1) 0%, rgba(31,31,31,0.94) 12%, rgba(31,31,31,0.87) 25%, rgba(21,20,21,0.8) 39%, rgba(28,28,28,0.75) 50%, rgba(0,0,0,0.74) 51%, rgba(10,10,10,0.69) 60%, rgba(28,28,28,0.61) 76%, rgba(18,18,18,0.54) 91%, rgba(10,10,10,0.49) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0a0a0a', GradientType=1 );
border-radius: 3px 3px 0px 0px;
}

.panel-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.panel-title h3{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 10px;
	font-size: 16px;
	line-height: 2em;
}

.panel-body {
	overflow: hidden;
}

.date .label {
	background: none;
	font-size: 40px;
	font-weight: lighter;
	font-weight: light;
	text-align: center;
}

.until-date {
	background: url(/static/img/until-date.png) no-repeat 0 0;
	background-size: 20px;
	display: inline-block;
	width: 20px;
	height: 28px;
}

/*BADGE*/

.bet-badge {
	font-size: 14px;
	border: 1px solid #000;
	background: #FFF;
	color: #000;
	position: static;
	margin-top: -14px;
	margin-right: -20px;
}

.icon-matchnul {
	background-image: url(../img/picto-matchnul.png) no-repeat 0 0;
	display: inline-block;
	height: 30px;
	width: 100px;	
}


/*POOLS*/

/*PICTO SPORT*/


.picto-sport.img-circle {
	background: #fff; 
	height: 30px; 
	width: 30px; 
	padding: 0px 5px 5px 5px;
	margin-right: 10px; 
	display: inline-block;
}

.picto-sport.img-circle img{
	margin-top: -5px;
}

/*SIDEBAR*/

.lead-sidebar {
	padding: 20px;
}

#wrapper {
  padding-left: 244px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
	margin-left: -244px;
	left: 244px;
	width: 244px;
	background: rgba(0,0,0,0.82);
	box-shadow: 2px 0px 3px rgba(0,0,0,0.27);
	position: fixed;
	height: 100%;
	overflow-y: auto;
	transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 225px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 225px;
}

#wrapper.active #sidebar-wrapper {
  left: 244px;
  width: 244px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}


/*RANGE*/

.range {
    display: table;
    position: relative;
    height: 35px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 35px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}

/*COUNTER*/

.cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
      }
      .desc { margin: 7px 3px; }
      .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-size: 13px;
        font-weight: bold;
        color: #000;
      }
