{% extends "base.html" %}

{% block content %}


<div class="row">
	
	<!-- BLOCK ADD MATCH -->			
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
        
        
        <div class="panel-heading">
		  <div class="panel-title">
		   <h3> Add a match </h3></div>
		</div>
        
          <form class="form-horizontal panel-body" action="" method="post">

            <!-- ID NAME -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_Name">Name of Competition</label>
              <div class="col-md-9">
                <input id="id_Name" maxlength="100" name="Name" type="text" class="form-control">
              </div>
            </div>

            <!-- ID DATE -->
            <div class="form-group" id="datepicker">
              <label class="col-md-3 control-label" for="id_Date">Date</label>
              <div class="col-md-9">
                <input id="id_Date" maxlength="100" name="Date" type="text" class="form-control" value="2014-05-01" > 
              </div>
            </div>

            <!-- ID HOUR -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_Hour">Hour</label>
              <div class="col-md-9">
                <input id="id_Hour" maxlength="100" name="Hour" type="text" class="form-control" value="00:00:00"> 
              </div>
            </div>

            <!-- ID Team 1 -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_Team1">Team #1</label>
              <div class="col-md-9">
				<input type="checkbox" id="id_Team1AlreadyExists" name="id_Team1AlreadyExists" onchange="OnHandleCheckTeam1();" checked> Team already exists ?</input>
                <select id="id_Team1" name="Team1" class="form-control">
					{% for team in Teams %}
	                	<option value="{{ team.id }}">{{ team.Name }}</option>
					{% endfor %}
	             </select> 
				 <label id="id_OtherTeam1Label">Enter your team name manually<input type="text" id="id_OtherTeam1" name="OtherTeam1" class="form-control"></label>
              </div>
            </div>
			
            <!-- ID Team 2 -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_Team2">Team #2</label>
              <div class="col-md-9">
				<input type="checkbox" id="id_Team2AlreadyExists" name="id_Team2AlreadyExists" onchange="OnHandleCheckTeam2();" checked> Team already exists ?</input>
                <select id="id_Team2" name="Team2" class="form-control">
					{% for team in Teams %}
	                	<option value="{{ team.id }}">{{ team.Name }}</option>
					{% endfor %}
	             </select> 
				 <label id="id_OtherTeam2Label">Enter your team name manually<input type="text" id="id_OtherTeam2" name="OtherTeam2" class="form-control"></label>
              </div>
            </div>
              
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
	              {% csrf_token %}
	                {% if message %}        
	                	<div class="alert alert-danger">
		                	{{ message }}
		                </div>        
		            {% endif %}
	              <input type="submit" value="Add" class="btn btn-success btn-lg">              	 
              </div>
            </div>
          </form>
        </div>
      </div>
     <!-- FIN BLOCK ADD MATCH -->
				</div>
				
<script type="text/javascript">
	function OnHandleCheckTeam1()
	{
		var chk = document.getElementById("id_Team1AlreadyExists");
		if(chk.checked == false)
		{		
			document.getElementById('id_Team1').style.display = 'none';
			document.getElementById('id_OtherTeam1').style.display = 'inline';
			document.getElementById('id_OtherTeam1Label').style.display = 'block';
		}
		else
		{
			document.getElementById('id_Team1').style.display = 'inline';
			document.getElementById('id_OtherTeam1').style.display = 'none';
			document.getElementById('id_OtherTeam1Label').style.display = 'none';
		}	
		document.getElementById('id_Team1').value = -1;
		document.getElementById('id_OtherTeam1').value = '';
		
	}
	function OnHandleCheckTeam2()
	{
		var chk = document.getElementById("id_Team2AlreadyExists");
		if(chk.checked == false)
		{			
			document.getElementById('id_Team2').style.display = 'none';
			document.getElementById('id_OtherTeam2').style.display = 'inline';
			document.getElementById('id_OtherTeam2Label').style.display = 'block';
		}
		else
		{
			document.getElementById('id_Team2').style.display = 'inline';
			document.getElementById('id_OtherTeam2').style.display = 'none';
			document.getElementById('id_OtherTeam2Label').style.display = 'none';
		}	
		document.getElementById('id_Team2').value = -1;
		document.getElementById('id_OtherTeam2').value = '';
	}
	OnHandleCheckTeam1();
	OnHandleCheckTeam2();
</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/7180.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
  
{% endblock %}
