{% extends "base.html" %}

{% block content %}
   
   
   <!--
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
	{% if message %}
		<p id="error-message">{{ message }}</p>
	{% endif %}
	-->
	
	<div class="row">
	
	<!-- BLOCK Aide -->			
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
        
        
        <div class="panel-heading">
		  <div class="panel-title">
		   <h3> Aide </h3></div>
		</div>
        
        <div class="panel-body">
        
                  <iframe src="#aide_body">
        
        </div>
 
        </div>
      </div>
     <!-- FIN BLOCK -->
				</div>



	
	
	
	
	
{% endblock %}