<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta name="description" content="À propos Le Poolailler est un gestionnaire pour vos pools de hockey et de soccer. Il est gratuit et facile à utiliser. C'EST FACILE!!">
  	<meta name="keywords" content=" pool, poolailler, le poolailler, un pool, gratuit, facile, consulter, participants, contact@poolaillercom">
  	
  	<meta name="viewport" content="width=device-width">
  	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">    

    <link rel="stylesheet" href="{% static "css/introjs.css" %}">    

    <link rel="stylesheet" href="{% static "css/datepicker.css" %}">    

    <link rel="stylesheet" href="{% static "css/guide.css" %}">    

    <script src="{% static "js/jquery-2.1.0.min.js" %}" type="text/javascript" ></script> 

    <script src="{% static "js/jquery.preload.min.js" %}" type="text/javascript" ></script>

    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript" ></script> 

    <script src="{% static "js/bootstrap-checker.js" %}" type="text/javascript" ></script> 

    <script src="{% static "js/bootstrap-datepicker.js" %}" type="text/javascript" ></script> 

    <script src="{% static "js/intro-onetime.js" %}" type="text/javascript" ></script>

    <script src="{% static "js/guide.js" %}" type="text/javascript" ></script>

    <script src="{% static "js/zeroclipboard.min.js" %}" type="text/javascript" ></script>

    <script src="{% static "js/jquery.countdown.min.js" %}" type="text/javascript" ></script>


	<title>{{ Title }}</title>
</head>
<body class="body_dashboard" id="background">
    
    
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu 
            </button>
            <a class="navbar-brand" href="/"><div class="logo-navbar"><img src="http://poolailler.com/static/img/logo-poole-full-inline.png" alt="logo-poole-full" width="" height="50px" /></div></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class={% if CreatePoolActive %}""{% else %}"active"{% endif %}>
                <a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class={% if CreatePoolActive %}"active"{% else %}""{% endif %}>
                <a href="/CreatePool"><span class="glyphicon glyphicon-plus-sign"></span></a></li>            
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="eggcredit" ><a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                <div class="badge badge-primary price">
	                <div class="pull-left"> {{ UserAccount.EggsCredit }} </div>
	                <div class="eggcoin menu white"></div></div> 
                </a>
                    <!-- ul class="dropdown-menu text-right">
                        <li class="text-right"><a href="#"> - 10 <span class="eggcoin black"></span></a></li>
                        <li class="divider"></li>
                        <li class="text-right"><a href="#"> + 20 <span class="eggcoin black"></span></a></li>
                    </ul -->
                </li>
                <li class="dropdown" id="parametres"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>  
                </a>
                    <ul class="dropdown-menu text-right">
                        <li><a href="/Parametres/"> Language <span class="label label-info"> {{ UserAccount.Language }} </span></a></li>
                        <li class="divider"></li>
                        <li><a href="/Parametres/"> Currency <span class="label label-info">  {{ UserAccount.CurrencyType }} </span></a></li>
                        <li class="divider"></li>
                        <li><a href="/Parametres/"> Payment option <span class="label label-info"> {{ UserAccount.PaymentType }} </span></a></li>
                    </ul>
                </li>
                <li class="dropdown" id="help"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> {{ UserName }} <b class="caret"></b></a>
                    <ul class="dropdown-menu text-right">
                        <li><a href="/MyPoolailler"> My Poolailler <span class="glyphicon glyphicon-wrench"></span></a></li>
                        <li><a href="http://poolailler.com/site_media/Default.htm" target="_blank"> Aide <span class="glyphicon glyphicon-question-sign"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"> Logout <span class="glyphicon glyphicon-off"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>



 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <li class="active">
                  <div class="lead-sidebar">
                  {% if CreatePoolActive %}{% else %}
                  <p><span class="lead text-white">Want to create a pool, and have fun with your friends ?</span></p>                
	              <p id="createpool">
	              	<a href="/CreatePool/">
	              		<button class="btn btn-large btn-block btn-success"> <span class="glyphicon glyphicon-plus-sign"></span> Create a Pool, it's free</button>
	              	</a>
	              </p>{% endif %}
                  </div>
                </li>
                {% if Pool.Type == "H" %} 
                	<li> <h3>Hockey Pools</h3> </li>
                	{% for pool in Pools %}
                	<li>{{ pool.Name }}</li>
                	{% endfor %}                	
                {% endif %}
                {% if Pool.Type == "S" %} 
                	<li> <h3>Soccer</h3> </li> 
                	{% for pool in Pools %}
                	<li>{{ pool.Name }}</li>
                	{% endfor %} 
                {% endif %}
                
                <li>
                	{% if messagesidebar %}
              	 	<div class="alert alert-warning">{{ messagesidebar }}</div>
              	 	{% endif %}</li>
                
                
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="page-content inset">
				<div class="row">
					<!-- BLOCK POOL -->
					{% block content %}
					{% endblock %}
					<!-- FIN BLOCK POOL -->
				</div>
            </div>

        </div>

    </div>
    

</div>

	<script type="text/javascript">
		jQuery.preload( '/static/img/bg-curling.jpg','/static/img/bg-f1.jpg','/static/img/bg-hockey-1.jpg','/static/img/bg-rugby.jpg','/static/img/bg-soccer.jpg','/static/img/bg-tennis.jpg' );
	</script>
	
	<script type="text/javascript">
    jQuery("#menu-toggle").click(function(e) {
        e.preventDefault();
        jQuery("#wrapper").toggleClass("active");
    });
    jQuery('.popover-markup > .trigger').popover({
    html : true,
    title: function() {
      return jQuery(this).parent().find('.head').html();
    },
    content: function() {
      return jQuery(this).parent().find('.content').html();
    },
    container: 'body',
    placement: 'bottom'
    });
    </script>

	<script type="text/javascript">
		jQuery('#datepicker .form-control').datepicker({
			format: "yyyy-mm-dd"
		});	
		jQuery('#myTab a').click(function (e) {
			e.preventDefault()
			jQuery(this).tab('show')
		});
	</script>

	<script type="text/javascript">	
	var client = new ZeroClipboard( document.getElementById("copy-button") );
		client.on( "ready", function( readyEvent ) {
		client.on( "aftercopy", function( event ) {
			// `this` === `client`
			// `event.target` === the element that was clicked
			event.target.style.display = "none";
			jQuery( ".btn.share .btn.btn-default" ).after( " <button class='btn btn-success' disabled='disabled'> Lien Copié ! </button> " );

  } );
} );
	</script>
	
	<script type="text/javascript">		    
		    jQuery( document ).ready(function() {
                jQuery("#toolbar-pool #AllPools").click(function(){
                    window.location.href = '/?AllPools=true';
                }); 
                jQuery("#toolbar-pool #MyPools").click(function(){
                    window.location.href = '/?MyPools=true';
                }); 
                jQuery("#toolbar-pool #SoccerPools").click(function(){
                    window.location.href = '/?SoccerPools=true';
                }); 
                jQuery("#toolbar-pool #HockeyPools").click(function(){
                    window.location.href = '/?HockeyPools=true';
                }); 
                jQuery("#toolbar-pool #RugbyPools").click(function(){
                    window.location.href = '/?RugbyPools=true';
                });

            jQuery.urlParam = function(key){
		        var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search); 
		        return result && unescape(result[1]) || ""; 
	        };

            
            if (jQuery.urlParam('AllPools') == "true")
            {
                jQuery("#AllPools .label.label-default").addClass("label-primary");
            } 
            else if (jQuery.urlParam('MyPools') == "true")
            {
                jQuery("#MyPools .label.label-default").addClass("label-primary");
            }
            else if (jQuery.urlParam('SoccerPools') == "true")
            {
                jQuery("#SoccerPools .label.label-default").addClass("label-primary");
            }
            else if (jQuery.urlParam('HockeyPools') == "true")
            {
                jQuery("#HockeyPools .label.label-default").addClass("label-primary");
            }
            else if (jQuery.urlParam('RugbyPools') == "true")
            {
                jQuery("#RugbyPools .label.label-default").addClass("label-primary");
            }
            else
            {
                jQuery("#AllPools .label.label-default").addClass("label-primary");
            }
			});
	</script>
	
	<script type="text/javascript">
   	jQuery(function() {
   	 var images = ['bg-curling.jpg','bg-f1.jpg','bg-hockey-1.jpg','bg-rugby.jpg','bg-soccer.jpg','bg-tennis.jpg'];
   	 jQuery('#background').css({'background-image': 'url(/static/img/' + images[Math.floor(Math.random() * images.length)] + ')'});
   	});
  </script>
   

  	<script type="text/javascript">
  		
  		var enddate = '{{ Pool.EndDate|date:"Y/m/d" }}';
  		
  		//var enddate = $.datepicker.parseDate('Y/m/d', '{{ Pool.EndDate|date:"Y/m/d" }}');  		
  		$('#getting-started').countdown(enddate, function(event) {
        $(this).html(event.strftime('Pool end in '
          + '<span>%w</span> weeks '
          + '<span>%d</span> days '
          + '<span>%H</span> hours '
          + '<span>%M</span> minutes '
          + '<span>%S</span> seconds'));
      });
    </script>
 
 <!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/kJk6Z4BNxvuUXPkGNfswHw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'feedback',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  forum_id: 250734,
  tab_label: 'Feedback',
  tab_color: '#cc6d00',
  tab_position: 'bottom-right',
  tab_inverted: false
}]);
</script>
 
   
   
   
      <script>
 	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 	
 	 ga('create', 'UA-50495010-1', 'poolailler.com');
 	 ga('send', 'pageview');	
	</script>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/7180.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>


     </body>
</html>

