{% extends "base.html" %}


{% block content %}

      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
 
        <div class="panel-heading">
		  <div class="panel-title">
		   <h3> Create a Pool </h3></div>
		</div>
 
          <form class="form-horizontal panel-body" action="" method="post">
            <!-- Name input -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_Name">Pool Name</label>
              <div class="col-md-9">
                <input id="id_Name" name="Name" type="text" placeholder="Pool Name" class="form-control">
              </div>
            </div>

            <!-- Competition input -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_Competition">Competition</label>
              <div class="col-md-9">
                <select id="id_Competition" name="Competition" class="form-control">
					<option value="-1">My Competition</option>
					{% for comp in Competitions %}
						<option value="{{ comp.id }}">{{ comp.Name }}</option>
					{% endfor %}
				</select>
              </div>
            </div>



             <!-- Minimum Bet -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="id_MinBet">Bet</label>
              <div class="col-md-9">
                <div class="range range-success">
	                <input id="id_MinBet" name="MinBet" type="range" name="range" min="1" max="100" value="50" onchange="rangeSuccess.value=value">
	                <output id="rangeSuccess">50</output>
	             </div>
               </div>
            </div>

              <!-- Enddate -->
            <div class="form-group" id="datepicker">
              <label class="col-md-3 control-label" for="id_EndDate">Deadline</label>
              <div class="col-md-9">
                <input id="id_EndDate" name="EndDate" type="text" value="2014-04-30" class="form-control">
               </div>
            </div>


            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
              	 {% if message %}
              	 	<div class="alert alert-danger">{{ message }}</div>
              	 {% endif %}

                 {% csrf_token %}
                 <input type="submit" value="Pool it !" class="btn btn-success btn-lg">
              </div>
            </div>
          </form>
        </div>
      </div>
	  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50495010-1', 'poolailler.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/7180.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>


{% endblock %}
