{% extends "base.html" %}

{% block content %}

	<div class="collapse navbar-collapse" id="toolbar-pool">
            <ul class="nav navbar-nav text-white">
            <li><span class="glyphicon glyphicon-filter"></span> </li>
            <li id="AllPools"><label class="label label-default text-medium"> All Pools </label></li>
            <li id="MyPools"><label class="label label-default text-medium"> My Pools</li>
            <li id="SoccerPools"><label class="label label-default text-medium"> Soccer</li>
            <li id="HockeyPools"><label class="label label-default text-medium"> Hockey</li>
            <li id="RugbyPools"><label class="label label-default text-medium"> Rugby</li>
            
            </ul>
    </div>


<div class="NavDate">
<div class="text-right"><span class="lead text-white textshadow">2014</span>
<hr>
</div>
</div>
{% for pool in Pools %}

<div class="col-md-4">
	<div class="panel panel-default" id="boxpool">
		<div class="panel-heading">
		   <div class="badge alert-success pull-right bet-badge"> 
		   	<div class="pull-left"> {{ pool.MinBet }} </div> 
		   	<div class="eggcoin black"></div></div>
		  <div class="panel-title">
		   <h3>{{ pool.Name }}</h3></div>
		</div>
		<div class="panel-body">  
			<h4 class="center-block text-center"> 
			<!-- <small>du</small> <span class="date"><span class="label label-default">{{ pool.BeginDate|date:"d/m/Y"|lower }}</span></span> -->
			 <span class="date center-block text-center"> <span class="until-date"></span>&nbsp;<span class="label label-default">{{ pool.EndDate|date:"d/m/Y"|lower }}</span></span>
			</h4>
			<div class="small text-center"> by {{ pool.CreatedBy }} </div>                      
	</div>
	<div class="panel-footer">
		<div class="col-md-6">
			<div class="popover-markup">
			  <a href="/JoinPool/{{ pool.id }}" class="btn btn-block btn-success">
				Join {{ pool.UsersCount }} <span class="glyphicon glyphicon-user"></span>
			  </a>
		</div>
		</div>
		<div class="col-md-6">
				<a href="/ViewPool/{{ pool.id }}"><button class="btn btn-default btn-block btn-primary"> <span class="glyphicon glyphicon-cup"></span>Ranking</button></a>
		</div>			<span class="clear clearfix"></span>
		</div>

	</div>    
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50495010-1', 'poolailler.com');
  ga('send', 'pageview');

</script>

{% endfor %}

{% endblock %}
