{% extends "base.html" %}

{% block content %}

      <div class="col-md-12">
        <div class="panel panel-default">

	    <div class="panel-heading">
		  <div class="panel-title">
		  <div class="col-md-8"><h3>

		  {% if Pool.Type == "H" %} <div class="picto-sport img-circle"><img src="../../static/img/icon-sport/hockey.png" height="20px"></div> {% endif %}
		  {% if Pool.Type == "S" %} <div class="picto-sport img-circle"><img src="../../static/img/icon-sport/soccer.png" height="20px"></div> {% endif %}
		  {% if Pool.Type == "F" %} <div class="picto-sport img-circle"><img src="../../static/img/icon-sport/f1.png" height="20px"></div> {% endif %}
		  {% if Pool.Type == "R" %} <div class="picto-sport img-circle"><img src="../../static/img/icon-sport/rugby.png" height="20px"></div> {% endif %}


		  {{ Pool.Name }}</h3> </div>
		  <div class="col-md-4">
		  <p class="btn share pull-right">
          {% if IsOwner %}
		  <a class="btn btn-primary" href="/AddMatch/{{ Pool.id }}"><span class="glyphicon glyphicon-plus-sign"></span> Add Match </a>
          {% endif %}
		  <button class="btn btn-default" id="copy-button" data-clipboard-text="http://poolailler.com/JoinPool/{{ Pool.id }}" title="Click to copy me."><span class="glyphicon glyphicon-share-alt"></span> Share Pool</button>
          {% if IsOwner %}
          <a class="btn btn-danger" href="/DeletePool/{{ Pool.id }}"><span class="glyphicon glyphicon-trash"></span> Delete Pool </a>
          {% endif %}
		  </p>
		  </div>
		  </div>
		</div>


	<div class="panel-body">
	{% if Pool.Type == "H" %}

			<!-- loop match	-->
			{% for match in Matches %}
			{% with matchid=match.id|stringformat:"s" %}
					{% for team in match.Team.all %}
					{% with teamid=team.id|stringformat:"s" %}
					{% with teamSelectStr="UsrSel_"|add:matchid|add:"_"|add:teamid %}
						{% if forloop.counter == 1 %}
						<div class="row" id="MatchId{{ match.id }}">
							<div class="col-md-12 text-center">
								<div id="tab" class="col-md-12" data-toggle="buttons-radio">
									<div class="col-md-5">
									<a href="#equipe_one" class="btn btn-block" data-toggle="tab">
										<span class="button-checkbox">
											<button type="button" class="btn btn-block" data-color="primary">{{ team.Name }}</button>
											<input type="checkbox" class="hidden" id="UsrSel_{{ match.id }}_{{ team.id }}"
												{% if teamSelectStr in selection %}
													checked
												{% endif %}
											/></input>
										</span></a>
									</div>
									<div class="col-md-2">
									<a href="#match_nul" class="btn btn-block" data-toggle="tab">
										<span class="">
											<button type="button" class="btn btn-block" disabled="disabled" data-color="primary">
												<img src="/static/img/picto-matchnul.png" alt="picto-matchnul" width="" height="19" />
											</button>
										</span></a>
									</div>
						{% endif %}
						{% if forloop.counter == 2 %}
								<div class="col-md-5">
								<a href="#equipe_two" class="btn btn-block" data-toggle="tab">
									<span class="button-checkbox">
										<button type="button" class="btn btn-block" data-color="primary">{{ team.Name }}</button>
										<input type="checkbox" class="hidden" id="UsrSel_{{ match.id }}_{{ team.id }}"
											{% if teamSelectStr in selection %}
												checked
											{% endif %}
										/></input>
									</span></a>
								</div>
						{% endif %}
					{% endwith %}
					{% endwith %}
						{% if forloop.counter == 2 %}
								</div>
							<!-- 
							<div class="tab-content">
							  <div class="tab-pane" id="equipe_one">Vous avez choisi Equipe 1</div>
							  <div class="tab-pane" id="equipe_two">Vous avez choisi Equipe 2</div>
							</div>
							-->
							</div>
						</div>
						<!-- end loop match -->
						{% endif %}
					{% endfor %}
			{% endwith %}
			{% empty %}
				<div class="center-block text-center">No match yet for this pool</div>
			{% endfor %}

	{% endif %}

	{% if Pool.Type == "S" %}

			<!-- loop match	-->
			{% for match in Matches %}
			{% with matchid=match.id|stringformat:"s" %}
					{% for team in match.Team.all %}
					{% with teamid=team.id|stringformat:"s" %}
					{% with teamSelectStr="UsrSel_"|add:matchid|add:"_"|add:teamid %}
						{% if forloop.counter == 1 %}
						<div class="row" id="MatchId{{ match.id }}">
							<div class="col-md-12 text-center">
								<div id="tab" class="col-md-12" data-toggle="buttons-radio">
									<div class="col-md-5">
									<a href="#equipe_one" class="btn btn-block" data-toggle="tab">
										<span class="button-checkbox">
											<button type="button" class="btn btn-block" data-color="primary">{{ team.Name }}</button>
											<input type="checkbox" class="hidden" id="UsrSel_{{ match.id }}_{{ team.id }}"
												{% if teamSelectStr in selection %}
													checked
												{% endif %}
											/></input>
										</span></a>
									</div>
									<div class="col-md-2">
									<a href="#match_nul" class="btn btn-block" data-toggle="tab">
										<span class="">
											<button type="button" class="btn btn-block" data-color="primary">
												<img src="/static/img/picto-matchnul.png" alt="picto-matchnul" width="" height="19" />
											</button>
											<input type="checkbox" class="hidden" />
										</span></a>
									</div>
						{% endif %}
						{% if forloop.counter == 2 %}
									<div class="col-md-5">
									<a href="#equipe_two" class="btn btn-block" data-toggle="tab">
										<span class="button-checkbox">
											<button type="button" class="btn btn-block" data-color="primary">{{ team.Name }}</button>
											<input type="checkbox" class="hidden" id="UsrSel_{{ match.id }}_{{ team.id }}"
												{% if teamSelectStr in selection %}
													checked
												{% endif %}
											/></input>
										</span></a>
									</div>
						{% endif %}
					{% endwith %}
					{% endwith %}
					{% if forloop.counter == 2 %}
								</div>
							<!--
							<div class="tab-content">
							  <div class="tab-pane" id="equipe_one">Vous avez choisi Equipe 1</div>
							  <div class="tab-pane" id="match_nul">Match Nul, peut être.</div>
							  <div class="tab-pane" id="equipe_two">Vous avez choisi Equipe 2</div>
							</div>-->
							</div>
						</div>
					<!-- end loop match -->
					{% endif %}
					{% endfor %}
			{% endwith %}
			{% empty %}
				<p>No match yet for this pool</p>
			{% endfor %}


	{% endif %}
	</div><!-- panel body -->

	<div class="panel-footer">
	 	{% if message %}
			<div class="alert alert-danger">{{ message }}</div>
	 	{% endif %}

		<form onsubmit="setUserChoices()" action="/PlaceBet/{{ Pool.id }}/" method="POST">
			<input type="hidden" id="userChoices" name="userChoices" value=""></input>
			<button type="submit" class="btn btn-success btn-block" value="Submit"> submit for  {{ Pool.MinBet }} <span class="eggcoin inline white"></span> </button>
			{% csrf_token %}
		</form>

	</div><!-- panel footer -->

        </div><!-- panel default -->
      </div>

	<script type="text/javascript">
		function setUserChoices()
		{
			var ret = "";
			var uc = document.getElementById("userChoices");
			if(uc != null)
			{
				$('input[id*="UsrSel_"]').each(
					function()
					{
						if(this.checked == true)
						{
							if(ret != "")
								ret += ";";
							ret += this.id;
						}
					}
				)
				uc.value = ret;
			}
			return ret;
		}
		/*$('input[id*="UsrSel_"]').change(function(){
			alert('hi');
		});*/
	</script>

{% endblock %}