<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width">
  	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "js/jquery-2.1.0.min.js" %}" type="text/javascript" ></script> 
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript" ></script> 
	<title>{{ Title }}</title>
	
<!--[if lt IE]>
<script type="text/javascript">
alert ("It looks like you are using Internet Explorer. To see our site correctly, please use Firefox, Chrome, Safari or Opera.")
</script>
<![endif]-->

	
</head>
<body class="body_login">

<div class="container" style="margin-top:30px">
<div class="col-md-4 col-md-offset-4">
   <div class="panel panel-default">
	   <div class="panel-heading">
	   
	   <h3 class="panel-title"><div class="logo-poole white"></div></h3>
	   
	   </div>
  <div class="panel-body">
  
 		<ul class="pager">
	   	<li>{% if LoginView == 0 %}<a href="/login">{% endif %} Log In {% if LoginView == 0 %}</a>{% endif %} </li>
	   	<li> or </li>
	   	<li>{% if LoginView == 1 %}<a href="/signup">{% endif %} Sign Up {% if LoginView == 1 %}</a>{% endif %}</li>
	   	</ul>
  
    <form action="" method="post">
    
    {% if form.EMail %}
  <div class="form-group social"><center>
  <img src="/static/img/social_facebook_square.svg" width="35px" height="35px">
  <img src="/static/img/social_googleplus_square.svg" width="35px" height="35px">
  <img src="/static/img/social_twitter_square.svg" width="35px" height="35px">
  </center>
  </div>
  {% endif %}
  
       
  <div class="form-group">
<!--    <label for="id_UserName">Username</label> -->
    <input type="text" class="form-control" style="border-radius:0px" id="id_UserName" name="UserName" type="text" placeholder="username">
  </div>
  {% if form.EMail %}
  <div class="form-group">
 <!--     <label for="id_EMail">Email</label> -->
    <input class="form-control" type="text" class="form-control" style="border-radius:0px" id="id_EMail" name="EMail" placeholder="email@mail.com">
  </div>
  {% endif %}
  <div class="form-group">
 <!--   <label for="id_Password">Password <a href="/sessions/forgot_password">(forgot password)</a></label> -->
    <input type="password" name="Password" class="form-control" style="border-radius:0px" id="id_Password" placeholder="password">
  </div>
  {% csrf_token %}
  
  	{% if message %}
  	<div class="alert alert-danger">{{ message }}</div>
  	{% endif %}
  	
  <button type="submit" class="btn btn-success btn-block" value="Submit">pool it !</button>
  	
</form>
	
  </div>
</div>
</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50495010-1', 'poolailler.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/7180.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script> 
</body>
</html>

