{% extends "base.html" %}

{% block content %}
   
   
   <!--
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
	{% if message %}
		<p id="error-message">{{ message }}</p>
	{% endif %}
	-->
	
	<div class="row">
	
	<!-- BLOCK ADD MATCH -->			
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
        
        
        <div class="panel-heading">
		  <div class="panel-title">
		   <h3> My Poolailler Profile </h3></div>
		</div>
        
        <div class="panel-body">
        
                <div class="col-sm-4 col-md-4">
            <img src="/static/img/eggcoin.png" alt="" class="img-circle img-responsive" />
        </div>
        <div class="col-sm-8 col-md-8">
            <blockquote>
                <p>{{ UserName }}</p> <small>
                <cite title="Source Title"> {{ UserAccount.EggsCredit }} <i class="eggcoin profile white"></i> </cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> {{ UserName }}@poolailler.com
                <br
                /> <i class="glyphicon glyphicon-globe"></i> www.poolailler.com
                <br />  
	       </p>
        </div>
        
        
        </div>
 
        </div>
      </div>
     <!-- FIN BLOCK ADD MATCH -->
				</div>



	
	
	
	
	
{% endblock %}