{% extends "base.html" %}

{% block content %}
   
   
   <!--
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
	{% if message %}
		<p id="error-message">{{ message }}</p>
	{% endif %}
	-->
	
	<div class="row">
	
	<!-- BLOCK ADD MATCH -->			
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
        
        
        <div class="panel-heading">
		  <div class="panel-title">
		   <h3> My Poolailler Profile </h3></div>
		</div>
        
          <form class="form-horizontal panel-body" action="" method="post">
          
            <!-- ID LANGUE -->
            <div class="form-group">
            	<label class="col-md-3 control-label" for="id_Language">Language</label>
              <div class="col-md-9">
                <select id="id_Language" name="Language" class="form-control">
				<option value="FRA" selected="selected">French</option>
				<option value="ENG">English</option>
				<option value="SPA">Spanish</option>
				</select>
              </div>
            </div>

            <!-- ID EGGCREDIT -->
            <!--div class="form-group">
            	<label class="col-md-3 control-label" for="id_EggsCredit">Eggs</label>
              <div class="col-md-9">
                <input class="form-control" id="id_EggsCredit" name="EggsCredit" type="number" value="10000">
              </div>
            </div--> 

            <!-- ID CURRENCY -->
            <div class="form-group">
            	<label class="col-md-3 control-label" for="id_CurrencyType">Currency</label>
              <div class="col-md-9">
                <select id="id_CurrencyType" name="CurrencyType" class="form-control">
				<option value="CAD" selected="selected">Canada Dollar</option>
				<option value="USD">United States Dollar</option>
				<option value="MXN">Mexico Peso</option>
				</select>
              </div>
            </div>
 
            <!-- ID PAYMENT -->
            <div class="form-group">
            	<label class="col-md-3 control-label" for="id_PaymentType">Payment</label>
              <div class="col-md-9">
                <input class="form-control" id="id_PaymentType" maxlength="100" name="PaymentType" type="text">
              </div>
            </div>
              
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
	              {% csrf_token %}
	                {% if message %}        
	                	<div class="alert alert-danger">
		                	{{ message }}
		                </div>        
		            {% endif %}
	              <input type="submit" value="Save" class="btn btn-success btn-lg">              	 
              </div>
            </div>
          </form>
        </div>
      </div>
     <!-- FIN BLOCK ADD MATCH -->
				</div>



	
	
	
	
	
{% endblock %}