{% extends "base.html" %}

{% block content %}
	
      <div class="col-md-12">
        <div class="panel panel-default">

	    <div class="panel-heading">
			<div class="panel-title block-center text-center"> 
				<h3>{{ Pool.Name }}</h3>
			</div>
		</div>
		

		<div class="panel-body">
			<div class="block-center text-center">
			<div id="getting-started">
				Pool end in 
               <span>%w</span> weeks
               <span>%d</span> days
               <span>%H</span> hours
               <span>%M</span> minutes
               <span>%S</span> seconds
             </div>
			</div>
		</div> 
		
		{% for UserPool in Concurrents %}
		<div class="panel-heading">
			<div class="panel-title"> 
				<h3>#{{ forloop.counter }} {{ UserPool.UserAccount.User }} <div class="pull-right">0 point</div></h3>
			</div>
		</div>		
		{% endfor %}
		
			 
        </div><!-- panel default -->
      </div>
		
{% endblock %}